# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\evizu\OneDrive\Documents\Proyectos\i-bluu\i-bluu-v1-0\i-bluu-routes-loader\i-bluu-hermes-v1-0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
